@import "bootstrap/scss/bootstrap";

// ========================================
// FUENTES
// ========================================

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-monument {
    font-family: 'Monument Extended', sans-serif;
}

.font-monument-bold {
    font-family: 'Monument Extended', sans-serif;
    font-weight: 800;
}

// ========================================
// VARIABLES DE FUENTES
// ========================================

$font-montserrat: 'Montserrat', sans-serif;
$font-monument: 'Monument Extended', sans-serif;

// ========================================
// ESTILOS GLOBALES
// ========================================

body {
    font-family: $font-montserrat;
}


// ========================================
// COMPONENTES
// ========================================

@import "navbar";
@import "index";
@import "footer";
@import "contacto";

