// Fondo con imagen y degradado blanco hacia abajo
.hero-background {
  // Asegúrate de poner tu imagen real en src/img/fondo-lab.jpg
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%, rgba(255,255,255,1) 90%), url('../src/img/Image_ts04kets04kets04.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 80vh;
}

// Menú estilo píldora con fondo rosado claro
.nav-pildora {
  font-family: $font-montserrat;
  background-color: rgba(248, 220, 225, 0.6); // Un tono rosado transparente
  backdrop-filter: blur(5px); // Efecto cristal
}

